<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISoapService" />
                <binding name="BasicHttpBinding_ISoapService1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.inflectra.com/Spira/Services/v5_0/SoapService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoapService"
                contract="SpiraTest.SoapService.ISoapService" name="BasicHttpBinding_ISoapService" />
            <endpoint address="https://api.inflectra.com/Spira/Services/v5_0/SoapService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoapService1"
                contract="SpiraTest.SoapService.ISoapService" name="BasicHttpBinding_ISoapService1" />
        </client>
    </system.serviceModel>
</configuration>